// Comparison table

.comparison-table {
	max-width: 1000px;
	width: 100%;
	height: auto;
	border: none;
	border-radius: 15px;
	margin: 10px;

	tr,
	td,
	th {
		color: #0a2240;
		padding: 10px;
		align-items: center;
	}

}
