// Dream Job section

.dream-job {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em auto 5em auto;
	padding-bottom: 1em;

	h1 {
		text-align: center;
		margin: 1em auto;
	}

	img {
		width: 1000px;
    height: auto;
	}

	.process-dream-team {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 16px;
		font-weight: 500;
		color: #fff;

		p {
			text-align: center;
		}

		img {
			width: 30px;
			height: auto;
			margin: 50px;
			padding: 0;
		}
	}
}
